---
import Moon from '@/astro/icons/Moon.astro';
import Sun from '@/astro/icons/Sun.astro';
import Button from '@/astro/ui/Button.astro';
---

<script>
	import { $theme, toggleTheme } from "@/store/theme";

	const isDarkTheme = () => localStorage.getItem('dark') === 'dark';

	const showCorrectThemeButton = (showSelector: string, hideSelector: string) => {
		document.querySelector(hideSelector)?.classList.add('hide');
		document.querySelector(showSelector)?.classList.remove('hide');
	};

	const showThemeButtonsBasedOnState =  () => {
		if (isDarkTheme()) {
			showCorrectThemeButton('.sun', '.moon');
			return;
		}
		showCorrectThemeButton('.moon', '.sun');
	};

	document.addEventListener("astro:page-load", () => {
		$theme.listen(() => {
			showThemeButtonsBasedOnState();
		});
		
		showThemeButtonsBasedOnState();
		document.querySelector('.toggle-theme')?.addEventListener('click', toggleTheme);
	});
</script>

<Button
	variant="ghost"
	size="icon"
	class="toggle-theme"
>
	<Fragment>
		<Moon class:list={['icon', 'moon']} />
		<Sun class:list={['icon', 'sun', 'hide']} />
	</Fragment>
</Button>

<style is:global>
	@reference '@/styles/global.css';
	.sun, .moon {
		@apply h-5 w-5;

		&.hide {
			display: none;
		}
	}

	.toggle-theme {
		@apply rounded-full cursor-pointer;
	}
</style>
