---
import DOMPurify from 'isomorphic-dompurify';

const { intro } = Astro.props;
---

<script>
	import { APPEAR_STYLE_TRANISITIONS } from '@/constants';
	import { animate, inView } from 'motion';

	inView(
	  ".wrapper",
	  (element) => {
	    animate(element, APPEAR_STYLE_TRANISITIONS, { ease: 'easeOut', duration: 0.6 });
		}
	);
</script>

<div class="wrapper">
	<div>
		<span></span>
		<Fragment set:html={DOMPurify.sanitize(intro)} />
	</div>
</div>

<style>
  @reference "@/styles/global.css";

  .wrapper {
    @apply rounded-lg border border-yellow-500/20 bg-gradient-to-r from-yellow-500/10 to-green-500/10 p-4 shadow-sm backdrop-blur-sm backdrop-filter dark:border-yellow-500/10;

    > div {
      @apply text-muted-foreground relative mb-4 py-2 pl-4;

      > span {
        @apply absolute top-0 left-0 h-full w-1 rounded-full bg-gradient-to-b from-yellow-500 to-green-500;
      }
    }
  }
</style>
