---
import { Image } from 'astro:assets';
import nerd from '@/images/nerd.png';

const {
	name,
	img = nerd,
	jobTitle = 'Senior Full Stack Web Engineer',
} = Astro.props;
---

<script>
	import {
		animate,
		hover,
		inView,
	} from 'motion';
	import { APPEAR_ANIMATION } from '@/constants';

	document.addEventListener("astro:page-load", () => {
		inView(
		  'h1',
		  APPEAR_ANIMATION,
		);
		inView(
		  '.job-title',
		  APPEAR_ANIMATION,
		);
		hover(
		  '.heading-image',
		  (element: Element) => {
		    animate(element, { rotate: [0, 360] }, { duration: 0.3 });
				return () => animate(element, { rotate: [360, 0] }, { duration: 0.3 });
			},
		);
	});
</script>

<h1>
	{name} <span></span>
	{img &&
		<Image
			src={img}
			alt={img.alt ? img.alt : 'Nerd'}
			quality="mid"
			width={90}
			height={90}
			format="webp"
			quality={72}
			class="heading-image"
		/>
	}
</h1>

<p class="job-title">
	{jobTitle}
</p>

<style>
  @reference "@/styles/global.css";

  .job-title {
    @apply text-muted-foreground mb-6 text-xl;
  }
	
  h1 {
    @apply mb-2 text-4xl font-bold;

    span {
      @apply inline-block animate-pulse;
    }
  }

	:global(.heading-image) {
		width: 45px;
		height: 45px;
		@apply ml-3 inline-block align-middle;
	}
</style>
