---
import { Toggle } from 'astro-theme-toggle';
import Menu from '@/icons/Menu.astro';
import Moon from '@/icons/Moon.astro';
import Sun from '@/icons/Sun.astro';
import Button from '@/ui/Button.astro';
---

<style>
	@reference "@/styles/global.css";
	.wrapper {
		@apply flex items-center space-x-2;
	}
</style>

<div class="wrapper">
	<Toggle style="width: 24px; height: 24px;">
		<Fragment slot="icon-light">
			<Sun class="icon" />
		</Fragment>
		<Fragment slot="icon-dark">
			<Moon class="icon" />
		</Fragment>
	</Toggle>
	<!--
	TODO Lario
	<Motion
		whileTap={{
			scale: 0.95,
		}}
	> -->
	<Button
		aria-label="Toggle menu"
		class:list={['menu-button', 'open']}
		name="Open Menu"
	>
		<Menu class="icon" />
	</Button>
</div>
