---
import ActionButtons from './ActionButtons.astro';
import HomeLink from './HomeLink.astro';
import MobileMenu from './MobileMenu.astro';
import NavLinks from './NavLinks.astro';

const { name } = Astro.props;
---

<header class="heading">
	<div>
		<HomeLink {name} />

		<NavLinks isMobile={false} />

		<ActionButtons />
	</div>

	<MobileMenu />
</header>

<style>
	@reference "@/styles/global.css";

	.heading {
		@apply bg-background/70 dark:bg-background/40 border-border/40 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 w-full border-b backdrop-blur-md backdrop-filter;

		> div {
			@apply container mx-auto flex max-w-4xl items-center justify-between p-4;
		}
	}
</style>
