---
import Button from '@/ui/Button.astro';
import Close from '../icons/Close.astro';
import NavLinks from './NavLinks.astro';
---

<style>
	@reference "@/styles/global.css";

	.nav-links-wrapper-mobile {
		@apply fixed
    top-0
    left-0
    w-full
    h-screen
    transition-transform
    duration-300
    transform
    -translate-y-full
    z-50
    border-border/10
    bg-background
    dark:bg-background
    border-t
    px-4
    py-4
    backdrop-blur-md
    backdrop-filter
    md:hidden;

		> div {
			@apply text-right;
		}

		&.open {
			@apply translate-y-0;
		}
	}
</style>

<div class="nav-links-wrapper-mobile">
	<div>
		<Button
			aria-label="Toggle menu"
			class:list={['menu-button', 'close']}
			name="Close Menu"
		>
			<Close class="icon" />
		</Button>
	</div>
	<NavLinks isMobile={true} />
</div>

<script>
	import { $menuOpen, toggleMenu } from '@/store/menu';

	document.addEventListener('astro:page-load', () => {
		$menuOpen.listen(() => {
			if ($menuOpen.get()) {
				document
					.querySelector('.nav-links-wrapper-mobile')
					?.classList.add('open');
				return;
			}
			document
				.querySelector('.nav-links-wrapper-mobile')
				?.classList.remove('open');
		});

		$menuOpen.set(false);
		document
			.querySelector('.menu-button.close')
			?.addEventListener('click', toggleMenu);
	});
</script>
