---
import Menu from '@/astro/icons/Menu.astro';
import Button from '@/astro/ui/Button.astro';
import ThemeToggle from '@/astro/ui/ThemeToggle.astro';
---
<script>
import { toggleMenu } from "@/store/menu";

document.addEventListener("astro:after-swap", () => {
	document.querySelector('.menu-button.open')?.addEventListener('click', toggleMenu);
});
</script>

<div class="wrapper">
	<ThemeToggle />

	<!--
	TODO Lario
	<Motion
		whileTap={{
			scale: 0.95,
		}}
	> -->
	<Button
		aria-label="Toggle menu"
		class:list={['menu-button', 'open']}
	>
		<Menu class="icon" />
	</Button>
</div>

<style>
@reference "@/styles/global.css";
.wrapper {
  @apply flex items-center space-x-2;
}
</style>
