---
import Close from '@/astro/icons/Close.astro';
import Menu from '@/astro/icons/Menu.astro';
import Button from '@/astro/ui/Button.astro';
import ThemeToggle from '@/astro/ui/ThemeToggle.astro';
import { $menuOpen } from '@/store/menu';
---
<script>
import { $menuOpen, toggleMenu } from "@/store/menu";

$menuOpen.listen(() => {
	document.querySelector('.close-icon')?.classList.toggle('hidden');
	document.querySelector('.menu-icon')?.classList.toggle('hidden');
});

document.querySelector('.menu-button')?.addEventListener('click', toggleMenu);
</script>

<div class="wrapper">
	<ThemeToggle />

	<!-- <Motion
		whileTap={{
			scale: 0.95,
		}}
		let:motion
	> -->
	<Button
		aria-label="Toggle menu"
		class="menu-button"
	>
		<Close class:list={['icon', 'close-icon', { 'hidden': !$menuOpen.get() }]} />
		<Menu class:list={['icon', 'menu-icon', { 'hidden': $menuOpen.get() }]} />
	</Button>
</div>

<style is:global>
@reference "@/styles/global.css";
.menu-button {
  @apply text-foreground p-2 md:hidden;
}
</style>

<style>
@reference "@/styles/global.css";
.wrapper {
  @apply flex items-center space-x-2;
}
</style>
