---
import NavLinks from './NavLinks.astro';
---

<script>
	import { $menuOpen } from '@/store/menu';
	import { inView, animate } from 'motion';

	inView(
	  ".nav-links-wrapper-mobile",
	  (element) => {
	    animate(element, { opacity: [0, 1], height: [0, 'auto'] }, { duration: 0.3 });
			return () => animate(element, { opacity: [1, 0], height: ['auto', 0] }, { duration: 0.3 });
		}
	);

	$menuOpen.subscribe(() => {
		document.querySelector('.nav-links-wrapper-mobile')?.classList.toggle('hidden');
	});
</script>

<div class="nav-links-wrapper-mobile">
	<NavLinks isMobile={true} />
</div>

<style>
@reference "@/styles/global.css";
.nav-links-wrapper-mobile {
	@apply border-border/10 bg-background/80 dark:bg-background/40 border-t px-4 py-4 backdrop-blur-md backdrop-filter md:hidden;
}
</style>
