---
import Layout from '@/layouts/Layout.astro';
import EmploymentHistory from '@/components/EmploymentHistory.svelte';
import ProjectShowcase from '@/components/ProjectShowcase.svelte';
import GlassHeader from '@/components/GlassHeader.svelte';
import HeroSection from '@/components/HeroSection.svelte';
import SkillsSection from '@/components/SkillsSection.svelte';
import AwardsSection from '@/components/AwardsSection.svelte';
import EducationSection from '@/components/EducationSection.svelte';
import Footer from '@/components/Footer.svelte';
import { contentfulClient } from '@/contentful';
import type {
	PersonalInfo,
	PersonalInfoFields,
	Award,
	PastEmployer,
	Location,
	Institution,
	InstitutionFields,
} from '@/contentful/contentTypes';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

const personalInfoEntry = await contentfulClient.getEntry<PersonalInfo>('3VUcnT1kxkcTnaxAwSVaHf');
const personalInfoFields: PersonalInfoFields = personalInfoEntry.fields;
personalInfoFields.introHtml = documentToHtmlString(personalInfoFields.intro);

const awardEntries = await contentfulClient.getEntries<Award>({
	content_type: 'award',
});
const awards = await Promise.all(
	awardEntries.items.map(async award => {
		const awardFields = award.fields;
		const { name, date, tags, issuer } = awardFields;
		const issuerEntry = await contentfulClient.getEntry<Institution>(issuer.sys.id);
		const { websiteUrl: issuerWebsiteUrl, name: issuerName } = issuerEntry.fields;
		return {
			name,
			issuerWebsiteUrl,
			issuerName,
			date,
			tags,
		};
	}),
);

const pastEmployerEntries = await contentfulClient.getEntries<PastEmployer>({
	content_type: 'pastEmployer',
});
const pastEmployers = await Promise.all(
	pastEmployerEntries.items.map(async employer => {
		const employerFields = employer.fields;
		const { company, description, period, position } = employerFields;
		const companyEtntry = await contentfulClient.getEntry<Institution>(company.sys.id);
		const companyFields: InstitutionFields = companyEtntry.fields;
		const { name: companyName, websiteUrl: companyWebsiteUrl, location: companyLocationEntry } = companyFields;
		const locationEntry = await contentfulClient.getEntry<Location>(companyLocationEntry.sys.id);
		const { name: companyLocation, googleMapsUrl: companyGoogleMapsUrl } = locationEntry.fields;

		return {
			companyName,
			companyWebsiteUrl,
			companyLocation,
			companyGoogleMapsUrl,
			period,
			position,
			descriptionHtml: documentToHtmlString(description),
		};
	}),
);
---

<Layout>
	<GlassHeader
		name={personalInfoFields?.name}
		client:only='svelte'
	/>
	<main class='min-h-screen'>
		<HeroSection
			{...personalInfoFields}
			client:only='svelte'
		/>
		<EmploymentHistory
			{pastEmployers}
			client:only='svelte'
		/>
		<ProjectShowcase client:only='svelte' />
		<SkillsSection client:only='svelte' />
		<AwardsSection
			{awards}
			client:only='svelte'
		/>
		<EducationSection client:only='svelte' />
	</main>
	<Footer
		name={personalInfoFields?.name}
		client:only='svelte'
	/>
</Layout>
