---
import Layout from '@/layouts/Layout.astro';
import EmploymentHistory from '@/components/EmploymentHistory.svelte';
import ProjectShowcase from '@/components/ProjectShowcase.svelte';
import GlassHeader from '@/components/GlassHeader.svelte';
import HeroSection from '@/components/HeroSection.svelte';
import SkillsSection from '@/components/SkillsSection.svelte';
import AwardsSection from '@/components/AwardsSection.svelte';
import EducationSection from '@/components/EducationSection.svelte';
import Footer from '@/components/Footer.svelte';
import { contentfulClient } from '@/contentful';
import type { PersonalInfo } from '@/contentful/contentTypes/PersonalInfo';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { Award } from '@/contentful/contentTypes/Award';

const personalInfoEntries = await contentfulClient.getEntries<PersonalInfo>({
	content_type: 'personalInfo',
});
const personalInfoFields = personalInfoEntries.items[0]?.fields;

const awardEntries = await contentfulClient.getEntries<Award>({
	content_type: 'award',
});
const awards = awardEntries.items.map(award => {
	const awardFields = award.fields;
	const { name, date, tags, issuer } = awardFields;
	const { fields: issuerFields } = issuer as { fields: { websiteUrl: string; name: string } };
	return {
		name,
		issuerFields,
		date,
		tags,
	};
});
---

<Layout>
	<GlassHeader
		name={personalInfoFields?.name}
		client:only='svelte'
	/>
	<main class='min-h-screen'>
		<HeroSection
			{...personalInfoFields}
			client:only='svelte'
		>
			{personalInfoFields && <div set:html={documentToHtmlString(personalInfoFields.intro)} />}
		</HeroSection>
		<EmploymentHistory client:only='svelte' />
		<ProjectShowcase client:only='svelte' />
		<SkillsSection client:only='svelte' />
		<AwardsSection
			{awards}
			client:only='svelte'
		/>
		<EducationSection client:only='svelte' />
	</main>
	<Footer
		name={personalInfoFields?.name}
		client:only='svelte'
	/>
</Layout>
