---
import Layout from '@/layouts/Layout.astro';
import EmploymentHistory from '@/components/EmploymentHistory.svelte';
import ProjectShowcase from '@/components/ProjectShowcase.svelte';
import GlassHeader from '@/components/GlassHeader.svelte';
import HeroSection from '@/components/HeroSection.svelte';
import SkillsSection from '@/components/SkillsSection.svelte';
import AwardsSection from '@/components/AwardsSection.svelte';
import EducationSection from '@/components/EducationSection.svelte';
import Footer from '@/components/Footer.svelte';
---

<Layout>
	<GlassHeader client:only='svelte' />
	<main class='min-h-screen'>
		<HeroSection client:only='svelte' />
		<EmploymentHistory client:only='svelte' />
		<ProjectShowcase client:only='svelte' />
		<SkillsSection client:only='svelte' />
		<AwardsSection client:only='svelte' />
		<EducationSection client:only='svelte' />
	</main>
	<Footer client:only='svelte' />
</Layout>
