---
import Layout from '@/layouts/Layout.astro';
import EmploymentHistory from '@/components/EmploymentHistory.svelte';
import ProjectShowcase from '@/components/ProjectShowcase.svelte';
import GlassHeader from '@/components/GlassHeader.svelte';
import HeroSection from '@/components/HeroSection.svelte';
import SkillsSection from '@/components/SkillsSection.svelte';
import AwardsSection from '@/components/AwardsSection.svelte';
import EducationSection from '@/components/EducationSection.svelte';
import Footer from '@/components/Footer.svelte';
import { contentfulClient } from '@/contentful';
import type {
	PastEmployer,
	Location,
	Institution,
	InstitutionFields,
} from '@/contentful/contentTypes';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { getAwards, getPersonalInfo } from '@/contentful/content';

const personalInfo = await getPersonalInfo();
const awards = await getAwards();

const pastEmployerEntries = await contentfulClient.getEntries<PastEmployer>({
	content_type: 'pastEmployer',
});
const pastEmployers = await Promise.all(
	pastEmployerEntries.items.map(async employer => {
		const employerFields = employer.fields;
		const { company, description, period, position } = employerFields;
		const companyEtntry = await contentfulClient.getEntry<Institution>(
			company.sys.id,
		);
		const companyFields: InstitutionFields = companyEtntry.fields;
		const {
			name: companyName,
			websiteUrl: companyWebsiteUrl,
			location: companyLocationEntry,
		} = companyFields;
		const locationEntry = await contentfulClient.getEntry<Location>(
			companyLocationEntry.sys.id,
		);
		const { name: companyLocation, googleMapsUrl: companyGoogleMapsUrl } =
			locationEntry.fields;

		return {
			companyName,
			companyWebsiteUrl,
			companyLocation,
			companyGoogleMapsUrl,
			period,
			position,
			descriptionHtml: documentToHtmlString(description),
		};
	}),
);
---

<Layout>
	<GlassHeader
		name={personalInfo?.name}
		client:only='svelte'
	/>
	<main class='min-h-screen'>
		<HeroSection
			{...personalInfo}
			client:only='svelte'
		/>
		<EmploymentHistory
			{pastEmployers}
			client:only='svelte'
		/>
		<ProjectShowcase client:only='svelte' />
		<SkillsSection client:only='svelte' />
		<AwardsSection
			{awards}
			client:only='svelte'
		/>
		<EducationSection client:only='svelte' />
	</main>
	<Footer
		name={personalInfo?.name}
		client:only='svelte'
	/>
</Layout>
