---
import type { SkillCategoryResponse } from '@/contentful/types';
import Heading from '@/ui/Heading.astro';
import PageSection from '@/ui/PageSection.astro';
import SkillCategorySection from '@/ui/SkillCategorySection.astro';

const { skillCategories } = Astro.props;
---

<style>
	@reference '@/styles/global.css';

	.skills-wrapper {
		@apply space-y-6;
	}
</style>

<PageSection>
	<Heading slot="heading" icon="ðŸ› ï¸" text="Skills" />
	<div slot="content" class="skills-wrapper">
		{
			skillCategories.map(({ name, icon, skills }: SkillCategoryResponse) => (
				<SkillCategorySection {name} {icon} {skills} />
			))
		}
	</div>
</PageSection>

<script>
	import { animate, inView } from 'motion';

	// viewport={{
	// 		once: true,
	// 		margin: '-50px',
	// }}
	document.addEventListener('astro:page-load', () => {
		inView('.skills-wrapper', (element) => {
			animate(element, { opacity: [0, 1] }, { staggerChildren: 0.1 });
		});
	});
</script>
