---
const { href } = Astro.props;
---

<script>
	import { animate, inView, hover } from 'motion';
	import {
		APPEAR_ANIMATION,
		LINK_HOVER_ON_TRANSITIONS,
		LINK_HOVER_OFF_TRANSITIONS,
	} from '@/constants';

	document.addEventListener('astro:page-load', () => {
		inView('.hero-link', APPEAR_ANIMATION);
		hover('.hero-link', (element) => {
			animate(element, LINK_HOVER_ON_TRANSITIONS);
			return () => animate(element, LINK_HOVER_OFF_TRANSITIONS);
		});
	});
</script>

<a href={href} target="_blank" rel="noopener noreferrer" class="hero-link">
	<slot />
</a>

<style>
	@reference "@/styles/global.css";

	.hero-link {
		@apply text-muted-foreground hover:text-foreground flex items-center text-sm transition-colors;
	}
</style>
