---
import MapPoint from '@/icons/MapPoint.astro';

const { locationFields } = Astro.props;
---

<style>
	@reference "@/styles/global.css";

	.location-wrapper {
		@apply text-muted-foreground flex items-center text-sm;
	}
</style>

<p class="location-wrapper">
	<MapPoint class="hero-icon" />

	{
		locationFields.googleMapsUrl != null ? (
			<a href={locationFields.googleMapsUrl} target="_blank">
				{locationFields.name}
			</a>
		) : (
			<span>{locationFields.name}</span>
		)
	}
</p>

<script>
	import { animate, inView, hover } from 'motion';
	import {
		APPEAR_ANIMATION,
		DEFAULT_LINK_COLOUR,
		HOVER_LINK_COLOUR,
	} from '@/constants';

	document.addEventListener('astro:page-load', () => {
		inView('.location-wrapper', APPEAR_ANIMATION);
		hover('.location-wrapper', (element) => {
			animate(element, { scale: [1, 1.05], color: HOVER_LINK_COLOUR });
			return () =>
				animate(element, { scale: [1.05, 1], color: DEFAULT_LINK_COLOUR });
		});
	});
</script>
