---
import type { AwardFields } from '@/contentful/types';
import Heading from '@/ui/Heading.astro';
import PageSection from '@/ui/PageSection.astro';
import Content from './Content.astro';

const { awards } = Astro.props;
---

<style>
	@reference '@/styles/global.css';
	.award-content {
		@apply grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3;
	}
</style>

<PageSection>
	<Heading slot="heading" icon="ðŸ†" text="Awards" />

	<div slot="content" class="award-content">
		{
			awards.map((award: AwardFields, index: number) => (
				<Content {award} {index} />
			))
		}
	</div>
</PageSection>
