---
import SkillTag from '@/ui/SkillTag.astro';

const { award } = Astro.props;
---

<div class="tags">
	<div>
		{award.tags.map((tag: string) => <SkillTag>{tag}</SkillTag>)}
	</div>
</div>

<style>
	@reference "@/styles/global.css";

	.tags {
		@apply mt-auto space-y-2;

		> div {
			@apply flex flex-wrap justify-center gap-2 md:justify-center-safe;
		}
	}
</style>
