<style>
	@reference '@/styles/global.css';

	.page-section {
		@apply from-muted/20 to-background bg-gradient-to-b py-12;

		> div {
			@apply container mx-auto max-w-4xl px-6 md:px-4;
		}

		.content-wrapper {
			@apply mb-8;
		}

		.heading-wrapper {
			@apply mb-3 flex items-center;
		}
	}
</style>

<section class="page-section">
	<div>
		<div class="heading-wrapper">
			<slot name="heading" />
		</div>
		<div class="content-wrapper">
			<slot name="content" />
		</div>
	</div>
</section>
