---
import GlassCard from './GlassCard.astro';
import SkillTag from './SkillTag.astro';

const { name, icon, skills } = Astro.props;
---

<style>
	@reference "@/styles/global.css";

	.category-heading {
		@apply mb-3 flex items-center text-center text-lg font-medium md:text-left;

		span {
			@apply mr-2;
		}
	}

	.skill-tag-wrapper {
		@apply flex flex-wrap justify-center gap-2 md:justify-start;
	}

	.skill-cat-section {
		@apply p-4;
	}

	:global(.skill-cat-section) {
		@apply p-4;
	}
</style>

<div class="wrapper">
	<GlassCard class="skill-cat-section">
		<h3 class="category-heading">
			{icon && <span>{icon}</span>}
			{name}
		</h3>
		<div class="skill-tag-wrapper">
			{
				skills.map((skill: string, index: number) => (
					<SkillTag {index}>{skill}</SkillTag>
				))
			}
		</div>
	</GlassCard>
</div>

<script>
	import { APPEAR_STYLE_TRANISITIONS } from '@/constants';
	import { animate, inView } from 'motion';

	document.addEventListener('astro:page-load', () => {
		inView('.wrapper', (element) => {
			animate(element, APPEAR_STYLE_TRANISITIONS, { duration: 0.3 });
		});
	});
</script>
